<div class="container  w-100 text-center position-absolute top-50 start-50 translate-middle">
    <img [ngStyle]="{'width.%':50}" src="{{image}}" alt="">
    <p class="lead">Welcome to our soccer community in the vibrant 
        San Francisco Bay Area! Discover the thrill of 
        organized soccer games and tournaments. Join us
        by registering to access game details and become 
        part of the action. Whether you're a player or a fan, 
        our platform connects you to the exciting world of 
        soccer events in the Bay Area. Don't miss out – sign up 
        and kick off your soccer journey with us!</p>
    <button type="button" class="btn btn-outline-dark " routerLink="/login">Login</button>
    <button type="button" class="btn btn-outline-dark ms-3" routerLink="/register">Signup</button>
    
  </div>
