body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right top, #ffffff, #f0f0f0, #e1e1e2, #d2d2d4, #c3c4c6, #bbbcbe, #b3b4b6, #abacae, #a8a9aa, #a5a5a6, #a2a2a3, #9f9f9f);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
   
}
a{
    text-decoration: none !important;
}


#container{
    width: 20%;
    height: auto;
    
   
}

form{
    width: 75%;
    height: auto;
    
   
}



/* Styles for Extra Small Devices (Phones) */
@media (max-width: 576px) {
    }

/* Styles for Small Devices (Tablets) */
@media (min-width: 576px) {
    }

/* Styles for Medium Devices (Desktops) */
@media (min-width: 768px) {
    
    #container{
        width: 30%;
        height: auto;
        
       
    }
}

/* Styles for Large Devices (Desktops) */
@media (min-width: 992px) {
    
        form{
            width: 25%;
            height: auto;
            
           
        }
    
    #container{
        width: 30%;
        height: auto;
        
       
    }
}

/* Styles for Extra Large Devices (Large Desktops) */
@media (min-width: 1200px) {
    form{
        width: 25%;
        height: auto;
        
       
    }
    #container{
        width: 10%;
        height: auto;
        
       
    }
}