


<body>
  
<nav class="navbar navbar-expand-lg bg-body-tertiary  bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid"> 
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link inactive" aria-current="page" >Profile</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link inactive" aria-current="page" >Leagues</a>
        </li>    
                 
      </ul>
      <form class="d-flex" role="search">        
        <a class="text fs-6" style="color: white;" routerLink="/logout" routerLinkActive="active" type="submit">Logout</a>
      </form>      
    </div>
  </div>
</nav>

<div class="container position-relative ">
  
<table class="table table-striped position-absolute top-0 start-0 caption-top" >
  <caption class="ms-2 mb-3" ><h6 class="mt-5">Hey {{ fullName }}, <span class="highlighted-text">choose an event to join: </span></h6></caption>
    <thead class="table " >
        <tr >          
          <th scope="col" class="text-center" style="width: 20%;">Event</th>
          <th scope="col" class="text-center " style="width: 20%;">Date</th>
          <th scope="col" class="text-center " style="width: 20%;">Time</th>
          <th scope="col" class="text-center " style="width: 20%;">Location</th>
          <th scope="col" class="text-center "  style="width: 20%;">Capacity</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let event of eventList; let i = index">
          <th class="text-center text-danger" style="font-size: 75%; text-decoration: underline; cursor: pointer;"  (click)="onEventClick(event.id)" >{{event.eventName}}</th>
          <th class="text-center"  style="font-size: 75%;">{{event.eventDate | date:'MMM d'}}</th>
          <th class="text-center"  style="font-size: 75%;">{{event.eventTime}}</th>
          <th class="text-center text-success"  style="font-size: 75%;" ><a class="text-success" href="https://maps.app.goo.gl/tGVTXEWKxaJkv9GD7">{{event.eventLocation}}</a></th>
          
          <th class="text-center"  style="font-size: 75%;">{{ event.capacity }}</th>
          
      </tbody>
     
  </table>
</div>

  
</body>
  
  