

<body>
  

<div id="card" class="card w-75 position-absolute top-50 start-50 translate-middle"> 
  <h5 class="card-header">Recover Password</h5>
  <div class="card-body ">    
    <p class="card-text  text-success " id="success" *ngIf="responseMessage">{{ responseMessage }}</p>
    <p class="card-text  text-danger " id="success" *ngIf="errorMessage">{{ errorMessage }}</p>
    <form class="form" [formGroup]="forgotPasswordForm" (ngSubmit)="requestPasswordReset()">
      <div class="form-group"> 
          
        <input type="email" id="email" formControlName="email" class="form-control w-100" placeholder="Enter your email" />
        <div *ngIf="forgotPasswordForm.get('email').hasError('required') && forgotPasswordForm.get('email').touched">
          Email is required
        </div>
        <div *ngIf="forgotPasswordForm.get('email').hasError('email') && !forgotPasswordForm.get('email').hasError('required') && forgotPasswordForm.get('email').touched">
          Please enter a valid email address
        </div>
      </div>
      <button type="submit" [disabled]="forgotPasswordForm.invalid" class="btn btn-primary mt-3">Send</button>
      
    </form>
  </div>
</div>
</body>