
body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, #656669, #818588, #9fa6a6, #c1c8c4, #e7e9e2);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}
/* Styles for Extra Small Devices (Phones) */
@media (max-width: 576px) {
}

/* Styles for Small Devices (Tablets) */
@media (min-width: 576px) {
}

/* Styles for Medium Devices (Desktops) */
@media (min-width: 768px) {

#card{
    width: 55%;
    height: auto;
    
   
}
}

/* Styles for Large Devices (Desktops) */
@media (min-width: 992px) {

    #card{
        width: 55%;
        height: auto;
        
       
    }

#container{
    width: 30%;
    height: auto;
    
   
}
}

/* Styles for Extra Large Devices (Large Desktops) */
@media (min-width: 1200px) {
    #card{
    width: 55%;
    height: auto;
    
   
}
#container{
    width: 10%;
    height: auto;
    
   
}
}